@page
<!-- This page directive defines the page is a Razor Page -->

@inject IGreeter Greeter
<!-- The services can be injected in the page -->

<div>@Greeter.GetMessageOfTheDay()</div>

<div>
    Hello!..
</div>
<div>@DateTime.Now.Year</div>